<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>394894568350-h1tf7gfism7fuuvgq8pddh0n16dphb3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394894568350-h1tf7gfism7fuuvgq8pddh0n16dphb3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCk_RvAPL9kE5ffJ0qz7RSrJ1LNwYcHAsk</string>
	<key>GCM_SENDER_ID</key>
	<string>394894568350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tastory.TastoryApp.iOS</string>
	<key>PROJECT_ID</key>
	<string>tastory-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tastory-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394894568350:ios:884c54db8c0a3f49</string>
	<key>DATABASE_URL</key>
	<string>https://tastory-ios-app.firebaseio.com</string>
</dict>
</plist>